body {
  background: url("images/blurry_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.title {
  margin-top: 15vh;
  font-size: x-large;
  color: #eceff1;
  text-align: center;
}

.main-card {
  display: flex;
  max-width: 720px;
  margin: 15vh auto 0;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 16px;
}

.main-card > textarea {
  width: 360px;
  height: 240px;
}

.control-panel {
  display: flex;
  align-items: end;
  flex-grow: 1;
  justify-content: flex-end;
}

.generic-btn {
  background: rgba(255, 255, 255, 0.25);
  font-size: large;
  font-weight: bold;
  color: white;
  padding: 4px 16px;
  border-radius: 25px;
  height: 50px;
  cursor: pointer;
  user-select: none;
}

.generic-btn:hover {
  background: rgba(255, 255, 255, 0.5);
}

.generic-btn--start {
  border: 3px solid white;
}

.generic-btn--escape {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid white;
  width: 50px;
}

.current-word {
  display: flex;
  background: rgba(0, 0, 0, 0.3);
  height: 100vh;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  caret-color: transparent;
  cursor: default;
  user-select: none;
  font-size: 56px;
  color: white;
}
